<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Generar Planilla</strong> <small>Default</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="forms/select">
          <select aria-label="Default select example" cSelect>
            <option>Escoja el mes de cotización</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
          <select aria-label="Default select example" cSelect>
            <option>Escoja el año de cotización</option>
            <option value="1">2024</option>
            <option value="2">2023</option>
            <option value="3">2022</option>
            <option value="4">2021</option>
            <option value="5">2020</option>
            <option value="6">2019</option>
            <option value="7">2018</option>
          </select>
          <!-- <input cFormControl id="validationTooltip02" required type="text" name="lastname2" placeholder="Escriba su segundo apellido" 
          [(ngModel)]="usuario.lastname2"/> -->
            <c-row ngPreserveWhitespaces>
            <c-col xs="12">
              <c-card class="mb-4">
                <c-card-header>
                  <strong>Angular Table</strong> <small>Striped rows</small>
                </c-card-header>
                <c-card-body>
                  <p class="text-body-secondary small">
                    Use <code>striped</code> property to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
                  </p> 
                  
                  <app-docs-example href="../../../components/table#striped-rows">
                    <table
                      cTable>
                      <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">EPS</th>
                      </tr>
                      </thead>
                      <tbody>
                        <!-- @for (usuario of usuarios; track usuario.idUser){ -->
                          <tr>
                            <!-- <th scope="row">{{usuario.idUser}}</th>
                            <td> {{usuario.name1}} </td>
                            <td> {{usuario.lastname1}} </td>
                            <td> {{usuario.lastname2}} </td>
                            <td> {{usuario.eps}} </td> -->
                            <td>ombeeeee</td>
                            <td>ombeeeee</td>
                            <td>ombeeeee</td>
                            <td>ombeeeee</td>
                            <td>ombeeeee</td>
                          </tr>
                        <!-- } -->
                       
                      </tbody>
                    </table>
                   </app-docs-example>
                   <!-- <pdf/> -->
                   <!-- <read-xlsx/> -->
                   <!-- <write-xlsx/> -->
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
         
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
 
