<form class="mt-4">
   <div class="row">
 <div class="mb-3 col-md-3">
      <label for="numdoc" class="form-label">Número de documento</label>
        <input type="text" class="form-control" id="numdocx"
        [(ngModel)]="formulario.numdoc"  name="numdocx">
    </div>
    
     <div class="mb-3 col-md-3">
      <label for="nombreEmpresa" class="form-label">Nombre de Empresa</label>
        <!-- <input type="text" class="form-control" id="nombreEmpresa" aria-describedby="emailHelp"
        [(ngModel)]="formulario.empresa.nombre"  name="nombreEmpresa"> -->
          <select id="opciones" [(ngModel)]="formulario.empresa.idEmpresa"  name="empresaSelect" class="form-control">
        @for (opcion of opciones2; let i = $index; track opcion) {
          <option [value]="i+1">{{ opcion }}</option>
        } @empty {
          <option disabled>No hay opciones disponibles</option>
        }
      </select>
    </div>
    <div class="mb-3 col-md-3">
      <label for="numdoc" class="form-label"> . </label>
      <button 
        id="numdoc"
        class="btn btn-primary w-100"
        (click)="validar()">
        Validar
      </button>
    </div>
   
   
   </div>
  <div class="row">
   <div class="mb-3 col-md-3">
      <label for="fechaIng" class="form-label">fecha de Ingreso a la Empresa</label>
        <input type="date" class="form-control" id="fechaIng" aria-describedby="emailHelp" 
         [(ngModel)]="formulario.fechaIng"  name="fechaIng">
    </div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-3">
      <label for="nombre1" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" id="nombre1" aria-describedby="emailHelp"
        [(ngModel)]="formulario.nombre1"  name="nombre1">
    </div>
    <div class="mb-3 col-md-3">
      <label for="nombre2" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" id="nombre2"
        [(ngModel)]="formulario.nombre2"  name="nombre2">
    </div>
    
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="apellido1" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" id="apellido1" aria-describedby="emailHelp"
        [(ngModel)]="formulario.apellido1"  name="apellido1">
    </div>
    <div class="mb-3 col-md-3">
      <label for="apellido2" class="form-label">Segundo Apellido</label>
      <input type="text" class="form-control" id="apellido2"
        [(ngModel)]="formulario.apellido2"  name="apellido2">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="tipodoc" class="form-label">Tipo de documento</label>
        <input type="text" class="form-control" id="tipodoc" aria-describedby="emailHelp"
        [(ngModel)]="formulario.tipodoc"  name="tipodoc">
      </div>
   
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="sexo" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="sexo" aria-describedby="emailHelp"
        [(ngModel)]="formulario.sexo"  name="sexo">
    </div>
    <div class="mb-3 col-md-3">
      <label for="fechanac" class="form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fechanac"
        [(ngModel)]="formulario.fechanac"  name="fechanac">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="ARL" class="form-label">ARL</label>
        <input type="text" class="form-control" id="ARL" aria-describedby="emailHelp"
        [(ngModel)]="formulario.ARL"  name="ARL">
      </div>
      <div class="mb-3 col-md-3">
      <label for="AFP" class="form-label">Fondo de Pensiones</label>
        <input type="text" class="form-control" id="AFP"
        [(ngModel)]="formulario.AFP"  name="AFP">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="salario" class="form-label">IBC</label>
        <input type="text" class="form-control" id="salario" aria-describedby="emailHelp"
        [(ngModel)]="formulario.salario"  name="salario">
    </div>
    <div class="mb-3 col-md-3">
      <label for="dirUsuario" class="form-label">Dirección de residencia</label>
        <input type="text" class="form-control" id="dirUsuario"
        [(ngModel)]="formulario.dirUsuario"  name="dirUsuario">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="telUsuario" class="form-label">Teléfono fijo</label>
        <input type="text" class="form-control" id="telUsuario" aria-describedby="emailHelp"
        [(ngModel)]="formulario.telUsuario"  name="telUsuario">
    </div>
    <div class="mb-3 col-md-3">
      <label for="celular" class="form-label">Teléfono celular</label>
        <input type="text" class="form-control" id="celular"
        [(ngModel)]="formulario.celular"  name="celular">
      </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="emailUsuario" class="form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="emailUsuario" aria-describedby="emailHelp"
        [(ngModel)]="formulario.emailUsuario"  name="emailUsuario">
    </div>
    <div class="mb-3 col-md-3">
      <label for="ciudadUsuario" class="form-label">Municipio</label>
        <input type="text" class="form-control" id="ciudadUsuario"
        [(ngModel)]="formulario.ciudadUsuario"  name="ciudadUsuario">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="depUsuario" class="form-label">Departamento</label>
        <input type="text" class="form-control" id="depUsuario" aria-describedby="emailHelp"
        [(ngModel)]="formulario.depUsuario"  name="depUsuario">
      </div>
  
  </div>
  <div class="row">
    
  </div>
  <div class="row">
     <div class="mb-3 col-md-3">
      <label for="tipoDocEmpresa" class="form-label">Tipo de Documento de Empresa</label>
        <input type="text" class="form-control" id="tipoDocEmpresa"
        [(ngModel)]="formulario.empresa.tipoDoc"  name="tipoDocEmpresa">
    </div>
    <div class="mb-3 col-md-3">
      <label for="docEmpresa" class="form-label">Número de Documento</label>
      <input type="text" class="form-control" id="docEmpresa" aria-describedby="emailHelp"
        [(ngModel)]="formulario.empresa.nidentificacion"  name="docEmpresa">
    </div>
    
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="dirEmpresa" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="dirEmpresa"
        [(ngModel)]="formulario.empresa.direccion"  name="dirEmpresa">
      </div>
    <div class="mb-3 col-md-3">
      <label for="telEmpresa" class="form-label">Teléfono fijo Empresa</label>
        <input type="text" class="form-control" id="telEmpresa" aria-describedby="emailHelp"
        [(ngModel)]="formulario.empresa.telefono"  name="telEmpresa">
    </div>
    
  </div>
  <div class="row">
    <div class="mb-3 col-md-3">
      <label for="emailEmpresa" class="form-label">Correo Electrónico</label>
      <input type="text" class="form-control" id="emailEmpresa"
        [(ngModel)]="formulario.empresa.correo"  name="emailEmpresa">
    </div>
    <div class="mb-3 col-md-3">
      <label for="ciudadEmpresa" class="form-label">Municipio</label>
        <input type="text" class="form-control" id="ciudadEmpresa" aria-describedby="emailHelp"
        [(ngModel)]="formulario.empresa.municipio"  name="ciudadEmpresa">
      </div>
   
  </div>
  <div class="row">
     <div class="mb-3 col-md-3">
      <label for="depEmpresa" class="form-label">Departamento</label>
        <input type="text" class="form-control" id="depEmpresa"
        [(ngModel)]="formulario.empresa.departamento"  name="depEmpresa">
    </div>
   
   
  </div>
  <div class="row">
     <div class="mb-3 col-md-3">
      <label for="caja" class="form-label">Caja de Compensación</label>
      <input type="text" class="form-control" id="caja"
      [(ngModel)]="formulario.caja"  name="caja">
    </div>
    <div class="mb-3 col-md-3">
      <label for="cargo" class="form-label">Cargo</label>
        <input type="text" class="form-control" id="cargo" aria-describedby="emailHelp"
        [(ngModel)]="formulario.cargo"  name="cargo">
    </div>
   
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
  <button (click)= "generarPdfconDatos()">Generar Pdf</button>
    <!-- <input type="file" (change)="handleFileInput($event)" /> -->
    <p>Selecciona un archivo PDF para modificar.</p>
  </div>
  
